{% extends 'base.html' %}

{% block title %}
    Курсы.
{% endblock %}

{% block content %}
    <h1>Курсы</h1>
    <div class="album py-5 bg-light">
        <div class="container mt-5">
            <div class="row">
                {% for course in course_list %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="{% url 'courses:detail' course.id %}">
                                <img class="card-img-top" src="{{ course.logo.url }}" style="height: 225px; width: 100%; display: block;">
                            </a>
                            <div class="card-body">
                                <h3 class="card-title">{{ course.name }}</h3>
                                <p class="card-text"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>С {{ course.start_date|date:'d F' }} {{ course.duration }} месяцев</span>
{#                                    <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>#}
                                    <a href="{% url 'courses:detail' course.id %}" class="text-muted">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
