{% extends 'base.html' %}

{% block title %}
    {{ product.name }}.
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    Стоимость: {{ course.price }}
                </div>
                <div class="col-3">
                    Нагрузка: {{ course.load }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    Продолжительность: {{ course.duration }}
                </div>
            </div>
            <h1 class="display-3">{{ course.name }}</h1>
            <div class="row">
                <div class="col-3">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Начать тестирование</a></p>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary btn-lg" href="#" role="button">День открытых дверей</a></p>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <a class="nav-link" href="#">О курсе</a>
        <a class="nav-link" href="#">Программа</a>
        <a class="nav-link" href="#">Расписание</a>
        <a class="nav-link" href="#">Преподаватели</a>
        <a class="nav-link" href="#">Работодатели</a>
    </nav>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <h2>О курсе</h2>
                {{ course.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Программа</h2>
                {{ course.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Расписание</h2>
                {{ course.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Преподаватели</h2>
                {{ course.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Работодатели</h2>
                {{ course.description }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="product_menu_content">
                    <div class="tab-pane fade show active" id="product_menu_description" role="tabpanel" aria-labelledby="product_menu_description_tab">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4">
                                    <div id="product_carousel" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#product_carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#product_carousel" data-slide-to="1"></li>
                                            <li data-target="#product_carousel" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            {% for photo in product.photos.all %}
                                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                                    <img class="d-block w-100" src="{{ photo.image.url }}" alt="First slide">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#product_carousel" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#product_carousel" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col">
                                    <p>
                                        {{ product.description }}
                                    </p>
                                    <p>
                                        <strong>Коротко о товаре</strong>

                                        <ul>
                                            {% for feature in product.features.features|slice:":6" %}
                                                <li>{{ feature.name }}: {{ feature.value }}</li>
                                            {% endfor %}
                                        </ul>
                                    </p>


                                </div>
                                <div class="col-2">
                                    <div class="card">
                                        <div class="card-header">
                                            Цена
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <span>{{ product.price }} руб.</span>
                                                <br/><span>В наличии</span>
                                            </p>
                                            <a href="#" class="btn btn-primary">Купить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="product_menu_features" role="tabpanel" aria-labelledby="product_menu_features_tab">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-2">
                                    {% for photo in product.photos.all %}
                                        {%  if photo.is_main == True %}
                                            <img class="d-block w-100" src="{{ photo.image.url }}">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col">
                                    <table class="table">
                                        <caption>Подробные характеристики</caption>
                                        <tboby>
                                            {% for feature in product.features.features %}
                                                <tr>
                                                    <th scope="row">{{ feature.name }}</th>
                                                    <td>{{ feature.value }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tboby>
                                    </table>
                                </div>
                                <div class="col-2">
                                    <div class="card">
                                        <div class="card-header">
                                            Цена
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <span>{{ product.price }} руб.</span>
                                                <br/><span>В наличии</span>
                                            </p>
                                            <a href="#" class="btn btn-primary">Купить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
