{% extends 'base.html' %}

{% block title %}
    {{ course.name }}.
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ course.name }}</h1>
            <div class="row">
                <div class="col-3">
                    <strong>Стоимость:</strong> {{ course.price }}
                </div>
                <div class="col-3">
                    <strong>Нагрузка:</strong> {{ course.load }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <strong>Продолжительность:</strong> {{ course.duration }} месяцев
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <a class="btn btn-primary btn-lg mt-3" href="#" role="button">Начать тестирование</a></p>
                </div>
                <div class="col-3">
                    <a class="btn btn-primary btn-lg mt-3" href="#" role="button">День открытых дверей</a></p>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <a class="nav-link" href="#">О курсе</a>
        <a class="nav-link" href="#">Программа</a>
        <a class="nav-link" href="#">Расписание</a>
        <a class="nav-link" href="#">Преподаватели</a>
        <a class="nav-link" href="#">Работодатели</a>
    </nav>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-12">
                <h2>О курсе</h2>
                {{ course.description|safe }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Программа</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Расписание</h2>
                <p>
                    Занятия начинаются в {{ course.start_date|date:'l, d F H:i' }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Преподаватели</h2>
                {{ course.description|safe }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Работодатели</h2>
                {{ course.description }}
            </div>
        </div>
    </div>
{% endblock %}
